{
	numberOfEnemies = 3;
	enemy1 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 160;
		enemyPosY = 300;
		enemyVX = 0;
		enemyVY = 60;
	};
	enemy2 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 80;
		enemyPosY = 180;
		enemyVX = -40;
		enemyVY = -40;
	};
	enemy3 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 240;
		enemyPosY = 180;
		enemyVX = 40;
		enemyVY = -40;
	};
}