{
	enemy1 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 42;
		enemyPosY = 85;
		enemyVX = 47;
		enemyVY = 54;
	};
	enemy2 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 217;
		enemyPosY = 40;
		enemyVX = 59;
		enemyVY = 42;
	};
	enemy3 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 145;
		enemyPosY = 214;
		enemyVX = 22;
		enemyVY = 0;
	};
	enemy4 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 59;
		enemyPosY = 115;
		enemyVX = 12;
		enemyVY = 33;
	};
	enemy5 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 283;
		enemyPosY = 384;
		enemyVX = 17;
		enemyVY = 70;
	};
	enemy6 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 113;
		enemyPosY = 436;
		enemyVX = 9;
		enemyVY = 69;
	};
	enemy7 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 11;
		enemyPosY = 173;
		enemyVX = 55;
		enemyVY = 9;
	};
	enemy8 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 10;
		enemyPosY = 251;
		enemyVX = 3;
		enemyVY = 1;
	};
	enemy9 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 3;
		enemyPosY = 144;
		enemyVX = 54;
		enemyVY = 68;
	};
	enemy10 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 156;
		enemyPosY = 60;
		enemyVX = 69;
		enemyVY = 58;
	};
	enemy11 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 171;
		enemyPosY = 372;
		enemyVX = 62;
		enemyVY = 0;
	};
	enemy12 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 190;
		enemyPosY = 205;
		enemyVX = 54;
		enemyVY = 17;
	};
	enemy13 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 35;
		enemyPosY = 265;
		enemyVX = 29;
		enemyVY = 49;
	};
	enemy14 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 95;
		enemyPosY = 362;
		enemyVX = 33;
		enemyVY = 29;
	};
	enemy15 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 242;
		enemyPosY = 450;
		enemyVX = 26;
		enemyVY = 39;
	};
	enemy16 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 200;
		enemyPosY = 339;
		enemyVX = 39;
		enemyVY = 36;
	};
	enemy17 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 314;
		enemyPosY = 82;
		enemyVX = 8;
		enemyVY = 41;
	};
	enemy18 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 300;
		enemyPosY = 226;
		enemyVX = 47;
		enemyVY = 19;
	};
	enemy19 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 234;
		enemyPosY = 115;
		enemyVX = 1;
		enemyVY = 55;
	};
	enemy20 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 66;
		enemyPosY = 82;
		enemyVX = 63;
		enemyVY = 63;
	};
	enemy21 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 287;
		enemyPosY = 379;
		enemyVX = 33;
		enemyVY = 38;
	};
	enemy22 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 251;
		enemyPosY = 456;
		enemyVX = 77;
		enemyVY = 61;
	};
	enemy23 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 308;
		enemyPosY = 25;
		enemyVX = 55;
		enemyVY = 28;
	};
	enemy24 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 113;
		enemyPosY = 437;
		enemyVX = 60;
		enemyVY = 18;
	};
	enemy25 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 0;
		enemyPosY = 426;
		enemyVX = 76;
		enemyVY = 48;
	};
	enemy26 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 234;
		enemyPosY = 124;
		enemyVX = 18;
		enemyVY = 9;
	};
	enemy27 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 107;
		enemyPosY = 56;
		enemyVX = 15;
		enemyVY = 31;
	};
	enemy28 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 10;
		enemyPosY = 86;
		enemyVX = 13;
		enemyVY = 28;
	};
	enemy29 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 97;
		enemyPosY = 203;
		enemyVX = 16;
		enemyVY = 41;
	};
	enemy30 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 201;
		enemyPosY = 69;
		enemyVX = 1;
		enemyVY = 11;
	};
	heroStartLevel = 1;
	numberOfEnemies = 30;
	enemySpeedMultiplier = 10;
}