{
	enemy1 = (
		1,
		40,
		50,
		200,
		"-100",
	);
	enemy2 = (
		1,
		240,
		160,
		50,
		300,
	);
	enemy3 = (
		1,
		100,
		300,
		200,
		0,
	);
	enemy4 = (
		1,
		150,
		450,
		50,
		"-200",
	);
	enemy5 = (
		1,
		300,
		70,
		"-40",
		200,
	);
	enemy6 = (
		1,
		50,
		450,
		300,
		"-20",
	);
	enemy7 = (
		1,
		300,
		350,
		"-100",
		"-200",
	);
	numberOfEnemies = 7;
}