{
	enemy1 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 219;
		enemyPosY = 19;
	};
	enemy2 = {
		enemyKind = 1;
		enemyLevel = 1;
		enemyPosX = 99;
		enemyPosY = 179;
	};
	enemy3 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 263;
		enemyPosY = 323;
		enemyVX = 26;
		enemyVY = 43;
	};
	enemy4 = {
		enemyKind = 1;
		enemyLevel = 1;
		enemyPosX = 132;
		enemyPosY = 103;
	};
	enemy5 = {
		enemyKind = 0;
		enemyLevel = 1;
		enemyPosX = 73;
		enemyPosY = 101;
	};
	heroStartLevel = 1;
	numberOfEnemies = 5;
	enemySpeedMultiplier = 10;
}