<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enemySpeedMultiplier</key>
	<string>10</string>
	<key>numberOfEnemies</key>
	<string>6</string>
	<key>heroStartLevel</key>
	<string>1</string>
	<key>enemy1</key>
	<dict>
		<key>kind</key>
		<string>0</string>
		<key>level</key>
		<string>4</string>
		<key>x</key>
		<string>150</string>
		<key>y</key>
		<string>45</string>
	</dict>
	<key>enemy2</key>
	<dict>
		<key>kind</key>
		<string>0</string>
		<key>level</key>
		<string>1</string>
		<key>x</key>
		<string>160</string>
		<key>y</key>
		<string>400</string>
	</dict>
	<key>enemy3</key>
	<dict>
		<key>kind</key>
		<string>4</string>
		<key>level</key>
		<string>1</string>
		<key>x</key>
		<string>254</string>
		<key>y</key>
		<string>158</string>
	</dict>
	<key>enemy4</key>
	<dict>
		<key>kind</key>
		<string>4</string>
		<key>level</key>
		<string>1</string>
		<key>x</key>
		<string>58</string>
		<key>y</key>
		<string>161</string>
	</dict>
	<key>enemy5</key>
	<dict>
		<key>kind</key>
		<string>4</string>
		<key>level</key>
		<string>1</string>
		<key>x</key>
		<string>253</string>
		<key>y</key>
		<string>327</string>
	</dict>
	<key>enemy6</key>
	<dict>
		<key>kind</key>
		<string>4</string>
		<key>level</key>
		<string>1</string>
		<key>x</key>
		<string>61</string>
		<key>y</key>
		<string>324</string>
	</dict>
</dict>
</plist>
