<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>enemySpeedMultiplier</key><string>10</string><key>numberOfEnemies</key><string>3</string><key>heroStartLevel</key><string>1</string><key>enemy1</key><dict><key>kind</key><string>3</string><key>level</key><string>2</string><key>x</key><string>242</string><key>y</key><string>236</string></dict><key>enemy2</key><dict><key>kind</key><string>3</string><key>level</key><string>1</string><key>x</key><string>237</string><key>y</key><string>111</string></dict><key>enemy3</key><dict><key>kind</key><string>4</string><key>level</key><string>1</string><key>x</key><string>67</string><key>y</key><string>237</string></dict>
</dict>
</plist>
