<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

<key>enemySpeedMultiplier</key><string>10</string><key>numberOfEnemies</key><string>4</string><key>heroStartLevel</key><string>1</string><key>enemy1</key><dict><key>kind</key><string>3</string><key>level</key><string>2</string><key>x</key><string>264</string><key>y</key><string>158</string></dict><key>enemy2</key><dict><key>kind</key><string>3</string><key>level</key><string>3</string><key>x</key><string>53</string><key>y</key><string>157</string></dict><key>enemy3</key><dict><key>kind</key><string>1</string><key>level</key><string>1</string><key>x</key><string>109</string><key>y</key><string>359</string></dict><key>enemy4</key><dict><key>kind</key><string>2</string><key>level</key><string>2</string><key>x</key><string>223</string><key>y</key><string>364</string></dict>
</dict>
</plist>
